.navWrapper {
    background-color: var(--dark);
    border-bottom:1px solid var(--highlight);
}
.navContainer {
    display:flex;
    justify-content: space-between;
    color:rgb(214, 214, 214);
    padding-left:1.4rem;
    height: 61px;
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
}
.navLinkContainer, .navLinkOpen {
    display:flex;
    justify-content: space-around;
    align-items: center;
   
}

.navName {
    color:white;
    text-decoration: none;
    font-size: 3rem;
    font-weight: 300;
}
.navLink {
    display: block;
    padding:1.25rem;
    text-decoration: none;
    color:white;
    cursor: pointer;
}
.navLink:hover{
    color:rgb(241, 241, 241);
    text-shadow: 0 0 0.5rem white;
}

.selected{
    color:white;
    background-color: var(--highlight-fade);
    /* border-bottom:1px solid var(--highlight); */

}
.navLink,.selected:hover{
    text-shadow: none;
}
.menu_container, .menu_open { 
    width: 50px;
    height: 60px;
    cursor: pointer;
    display: none;
    align-items: center;
    margin-right: 1rem;
    
}
.menu {
    width: 50px;
    height: 5px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 0.2s ease-in-out;
}
.menu::before, .menu::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 5px;
    height: 5px;

    background-color: #fff;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.menu::before {
    transform: translateY(15px);
}
.menu::after {
    transform: translateY(-15px);
}
.menu_open > .menu {
    background-color: transparent;
    height: 0;
}
.menu_open > .menu::before {
    transform: rotate(45deg) ;

}
.menu_open > .menu::after {
    transform: rotate(-45deg);

}

@media screen and (max-width:700px) {
    .menu_container, .menu_open { 
        display: flex;
        justify-content: flex-end;
    }

    .navContainerOpen {
        position: absolute;
        inset: 0;
        /* background-color: rgba(0, 0, 0, 0.2); */
        z-index: 100;
    }
    .navLinkContainer {
        display: none;
        position:absolute;
        top: 64px;
        right: 0;
        height: 0;
        transition: all 0.1s ease-in-out;
        z-index: 1;
        opacity: 0;
    }
   .navLinkOpen {
        background-color: var(--dark);
        text-align: center;
        border-bottom:1px solid var(--highlight);
        /* border-left:1px solid #f48023; */
        display: block;
        z-index: 1;
        height: auto;
        position:absolute;
        top: 60px;
        right: 0;
        transition: all 0.2s ease-in-out;
        /* height: 150px; */
    }
    .navLinkOpen > div:first-child {
        margin-top: 1px;
    }
    .navLink {
        display: block;
        
        padding: 1rem 2rem;
    }
}
/* @media screen and (max-width:425px) {
    .navLinkContainer{
        margin-top:0.5rem;
    }
    .navLink{
        padding:0.5rem;
        font-size: 0.89rem;;
    }
} */