/* Project section */
.projectContainer{
    padding: 20px;
    min-height: calc(var(--min-height) + 25px);
}

.projectCard {
    text-align: center;
    border-radius:0.2rem;
    padding:1rem;
    transition:all 0.3s ease-in-out;
    position:relative;

    display: grid;
    grid-template-columns: 500px 300px;
    align-items: flex-start;
    flex-direction: row;
    gap: 1rem;
    width: fit-content;
    max-width: 70rem;
    margin: auto;
    margin-bottom: 3rem;
}
.projectCard img, .projectDetailContainer img {
    border-radius: 0.25rem;
    box-shadow: var(--card-shadow);
    transition: box-shadow 0.3s ease-out;
    
    box-shadow: 0 0 0.5rem var(--highlight-shadow);
}
.projectCard img:hover {
    box-shadow: 0 0 3rem var(--highlight-shadow);
    
}
.alternateCard {    
    grid-template-columns: 300px 500px;

}
.alternateCard img {    
    order: 2;
}

.projectCardInfo * {
    border-radius: 0.2rem;
    text-align: center;
    width: 300px;
    margin: auto;
}


.projectName {
    font-size: 2rem;
    font-weight: 600;
    border-bottom-left-radius:0.2rem;
    border-bottom-right-radius:0.2rem;
    padding:0.5rem;
    /* transition: all 0.3s ease-in-out;
    text-shadow: 0.05rem 0.1rem 0.1rem  black; */
    color: var(--highlight);
}

.projectSummaryTech {
    color: var(--highlight);
    margin-top: 1rem;
}


.projectDetailContainer {
    display: grid;
    grid-template-columns: 500px 1fr;
    gap: 5rem;
    max-width: calc(var(--max-width) - 10rem);
    margin: 3rem auto;
    width: fit-content;
    padding: 1rem 2rem 2rem;

}
.projectDetailContainer > div {
    max-width: 50rem;

}
.projectDetailCardContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
}
.projectTitle {
    color: var(--highlight);
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
}

.projectBtnContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0 1rem;
}
.projectBtn {
    background-color: var(--highlight);
    width: 10rem;
    display: block;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 0.25rem;
    border: 2px solid var(--foreground);
    color: #fff;
}
.projectTech {
    color: var(--highlight);
    margin-top: 2rem;
}
/* 
.projectDetailCard{
    margin-top:1rem;
    width:800px;
    height:600px;
    text-align: center;
    border-radius:0.3rem;
    border:1px solid var(--highlight);
    position:relative;
} */
/* .projectPicture{
    height:100%;
    width:100%;
} */
/* .projectInfo{
    margin-top:4rem;
    text-align: center;
} */
/* .projectSummary {
    text-align: center;
    
    text-decoration: none;
    color:var(--foreground);
} */


/* .projectSummaryText { 
    font-weight: 600;
} */



/* .projectCard a{
    text-decoration: none;
} */


/* .projectTitle{
    font-weight:500;
    font-size: 2.5rem;
    margin-top:1rem;
    text-align: center;
} */
/* .projectInfo p {
    font-size:1.3rem;
} */

/* #disclaimer{
    margin:0.5rem;
    font-size: 1rem;
} */

/* .projectTech{
    margin-top:2rem;
} */
/* .projectLinkContainer{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
} */




/* Deployed app link */
/* .projectDeployed{
    padding:0.5rem 1rem;
    font-size: 1rem;
    font-weight:400;
    background-color: #3f3f3f;
    color:#eeeded;
    border-radius:0.3rem;
    border-top:2px solid #fec697;
    border-left:2px solid #fec697;
    border-bottom:2px solid #895226;
    border-right:2px solid #895226;
    box-shadow: 0.5rem 0.5rem 1rem rgb(24, 24, 24);
    transition:tranform 0.3s ease-in-out;
    position:relative;
} */
/* .projectDeployed:hover::after{
    content:"Deployed";
    position: absolute;
    top:-80%;
    left:50%;
    background-color: #000000;
    border-radius:0.1rem;
    padding:0.2rem;
    opacity: 0.7;
    font-size: 0.9rem;
    transform:translateX(-50%); */
/* } */

/* Github link */
/* .projectCode{
    width:2.5rem;
    background-color: #3f3f3f;
    color:#eeeded;
    border-radius:0.3rem;
    border-top:2px solid #fec697;
    border-left:2px solid #fec697;
    border-bottom:2px solid #895226;
    border-right:2px solid #895226;
    box-shadow: 0.5rem 0.5rem 1rem rgb(24, 24, 24);
    padding:0.1rem;
    transition:transform 0.3s ease-in-out;
} */
/* .codeLink{
    position:relative;
    height:100%;
} */
/* .codeLink:hover::after{
    content:"Source Code";
    color:white;
    width:6rem;
    position: absolute;
    top:-240%;
    left:-1.9rem;
    background-color: #000000;
    border-radius:0.1rem;
    padding:0.2rem;
    opacity: 0.7;
    font-size: 0.9rem;
} */
/* .projectLink {
    display: block;
    height: 620px;
} */
/* .projectBtnContainer{
    display:flex;
    justify-content: center;
} */
/* .projectBtn{
    padding:0.5rem 2rem;
    margin:1rem 2rem;
    border-radius:0.2rem;
    background-color: #425472;
    border:1px solid var(--highlight);
    color:#eeeded;
    font-size:1.1rem;
    box-shadow:0.2rem 0.2rem 0.2rem gray;
    transition: transform 0.2s ease-in-out;
} */
/* .projectBtn:hover{
    transform:scale(1.02);
    color:white;
    background-color: #7e755b;
    cursor: pointer;
} */

/* @media screen and (max-width:1000px) {
    .projectDetailCard{
        width:80vw;
        height:60vw;
    }
    
    
} */
/* @media screen and (max-width:700px) {
    .projectSummary{
        display: block;
    }
    
    
} */

@media screen and (max-width: 1200px) {
    .projectDetailContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .projectDetailContainer img {
        max-width: 80vw;
        height: auto;
    }
}

@media screen and (max-width: 900px) {
    .projectCard, .alternateCard {
        grid-template-columns: 1fr;
        max-width: 100%;
    }
    .projectCard > section, .alternateCard > section {
        order:2;
    }
    .projectCard img, .alternateCard img {
        order: 1;
        max-width: 100%;
        aspect-ratio: 500 / 350;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    .projectName {
        font-size: 1.5rem;
    }
    .projectCardInfo p {
        font-size: 0.8rem;
    }
    .projectCardInfo * {
        width: 100%;
        max-width: 300px;
    }
    .projectBtnContainer {
        flex-direction: column;
        width: 100%;
    }
    .projectBtnContainer a {
        width: calc(100vw - 4rem);
    }
}