.resumePage {
    /* animation:resumePage 0.4s; */
    animation: pageChange 0.5s;
    min-height: var(--min-height);
    padding: 2rem 5rem;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 20rem 1fr;
    max-width: calc(var(--max-width) - 10rem);
    gap: 5rem;
    margin: auto;
    width: fit-content;
}
@keyframes resumePage {
    0%{
        transform: translate(-100%);
        opacity: 0;
    }
}
@keyframes pageChange {
    0%{
        opacity:0;
    }
}
/* Resume card */
.resumeContainer{
    width: 20rem;
    padding:0.5rem;
    background-color: var(--dark);
    border: 2px inset var(--highlight);
    box-shadow: var(--card-shadow);
    border-radius: 0.5rem;
    transition: all 0.2s ease-in-out;
    display:flex;
    justify-content: center;
}

.resumeImage {
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.resumeContainer img {
    width: 18rem;
    position: relative;
}
.resumeImage::after {
    transition: all 0.2s ease-in-out;
    content: '';
    position: absolute;
    inset: 0;
    background-color: #00000021;
    z-index: 1000;
}
.resumeContainer:hover .resumeImage::after {
    background-color: transparent;
}
.resumeLink {
    color: #fff;
    text-align: center;
    font-weight:400;
    text-decoration: none;
}

.resumeLink p {
    margin-bottom: 0.75rem;
}

/* Skills */
.skillContainer{
    display:flex;
    justify-content: space-around;
    /* width: 70rem; */
    /* width:52vw;
    margin:0 auto 7rem; */
}
.skills{
    /* width:29vw; */
    padding:1rem;
    /* background-color: #5b687e; */
    /* background-color: #5b74a0; */
    /* box-shadow: 0.1rem 0.1rem 0.1rem #3e4655 inset; */
    /* border-right:2px solid rgb(233, 233, 233);
    border-bottom:2px solid rgb(233, 233, 233); */
    /* border:2px solid #f48023; */
    /* text-align: center; */
}
.skills h2{
    font-weight:500;
    animation:skill 1s;
    color:var(--highlight);
}
.skills li{
    list-style-type:none;
    padding:0.2rem;
    font-weight: 400;
    color:var(--foreground);
    /* animation:skill 1s; */

}
.darkSkill{
    /* background-color: #4c5769; */
    /* background-color: #536b96; */
    
}
.skill{
    margin-top:1rem;
}
.skillLevel{
    
    font-size:1.2rem;
    font-weight:500;
}
/* @keyframes skill {
    0%{
        transform:translate(200%) scale(3);
        opacity:0;

    }
   
} */

@media screen and (max-width:1200px) {
    .resumePage {
        grid-template-columns: 1fr;
        gap: 2rem;
        justify-items: center;
        padding: 1rem;
    }
    .skillContainer {
        max-width: 30rem;
        margin: auto;
    }
    .skillContainer h2{
        text-align: center;
    }
    .resumeContainer {
        width: 95%;
        max-width: 20rem;
        padding: 1rem;
    }
    .resumeLink, .resumeImage img {
        width: 100%;
        max-width: 95vw;
        height: auto;
        aspect-ratio: 8 / 11;
       /* width: calc(100% - 2rem); */
    }
}

/* @media screen and (max-width:1000px) {
    .resumeContainer{
        width:80vw;
    }
    .resumeContainer img{
        width:78vw;
    }
    .skills{
        width:80vw;
        border-top:2px solid #919191;
    }
    .skillContainer{
        width:80vw;
    }
} */
/* @media screen and (max-width:800px) {
    .skillContainer{
        width:90vw;
    }
    .skills{
        width:43vw;
    }
} */
/* @media screen and (max-width:500px) {
    .resumePage{
        animation:resumePage 0.2s;
    }
    .resumeContainer{
        width:100vw;
    }
    .resumeContainer:hover{
        transform: scale(1);
    }
    .resumeContainer img{
        width:100vw;
    }
    .skillContainer{
        display:block;
        width:100vw;
        
    }
    .skills{
        width:100vw;
        border-radius: 0;
        border-right:none;
        margin-top:1rem;
        box-shadow: 0rem 0.1rem 0.1rem #919191 inset;
    }
} */