.about_page {
    max-width: 1440px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.about_section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 0.3rem;
}

.header {
    display: grid;
    grid-template-columns: 2fr 24rem;
    justify-content: space-between;
    gap: 1rem;
}

.header_top_text {
    font-size: 1.5rem;
    line-height: 0.5rem;
}

.header_name {
    font-size: 4.5rem;
    font-weight: 500;
    margin-left: -.2rem;
    line-height: 6rem;
        /* line-height:6rem; */
}

.header_name span {
    color: var(--highlight)
}

.header_skills {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
}

.header_skills > div {
    width: 1px;
    height: 1.1rem;
    background-color: #fff;
}

.about_text {
    max-width: 30rem;
    font-size: 1.2rem;
}

.header_button_container {
    display: flex;
    gap: 2rem;
}

.header_button_container a {
    font-weight: 500;
    padding: 0.75rem 2rem;
    display: block;
    border-radius: 0.5rem;
}

.header_button_container a:first-child {
    background-color: var(--highlight);
    border: 1px solid var(--highlight);
}

.header_button_container a:nth-child(2) {    
    border: 1px solid var(--dark);

}

.portrait {
    position: relative;
    height: fit-content;
    /* margin-left: .375rem; */
    /* margin-right: 4rem; */

    /* display: flex;
    justify-content: flex-end; */
}
.portrait img {
    background-color: var(--card-background);
    border-radius: 0.5rem;
    /* border-radius: 50%; */
    overflow: hidden;
    /* background: radial-gradient(closest-side, var(--highlight-fade),var(--highlight-fade),  var(--background)); */

    background: linear-gradient(to right, var(--dark) 0%, var(--highlight-fade) 50%, var(--card-background) 90%, transparent 100%);
    width: 18rem;
    height: 19.5rem;
    z-index: 1;
    object-fit: contain;
    object-position: bottom;
}
/* 
.portrait::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    inset: -0.375rem;
    width: 20.75rem;
    height: 20.75rem;
    border: 1px solid var(--dark);
    z-index: 1;
    border-radius: 50%;
} */

.header_contact_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    border: 1px solid var(--dark);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    width: 24rem;
    /* width: 18rem; */

}

.header_contact_container > * {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

.header_contact_container img, .header_contact_container svg {
    width: 30px;
    height: 30px;
    filter: grayscale(1);
    margin-top: 3px;
}

.header_icon_container {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 10px 0;
}

.header_icon_container svg {
    width: 50px;
    height: 50px;
    opacity: 0.3;
}


@media screen and (max-width: 1440px) {
    
    .header {
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-content: space-between;
        gap: 1rem;
    }
    .portrait img {
        width: 16rem;
        height: 17rem;

    }
    .portrait::before {
        width: 14.75rem;
        height: 14.75rem;
    }
}
@media screen and (max-width:950px) {
    .about_page {
        padding: 3rem 1rem;
    }

    .header {
        gap: 1rem;
        /* flex-direction: column-reverse; */
    }
     .header_contact_container {
        width: fit-content;
     }
     .header_icon_container svg {
        width: 40px;
        height: 40px;
     }
}

@media screen and (max-width:850px) {
    .header {
        display: flex;
        flex-direction: column;
    }
    .header_contact_container {
        width: 100%;
    }
    .about_page {
        position: relative;
    }
    .portrait {
        position: absolute;
        top: 2.5rem;
    }
    .portrait img {
        width: 12rem;
        height: 12rem;
    }
    .portrait::before {
        width: 12.75rem;
        height: 12.75rem;
    }
    .about_section {
        margin-top: 14rem;
    }
}

@media screen and (max-width: 600px) {
    .header_name {
        font-size: 3rem;
        line-height: 3rem;
        margin-top: 1rem;
    }
    .header_skills {
        flex-direction: column;
        display: none;
    }
    .header_icon_container {
        display: none;
    }
    .header_button_container {
        flex-direction: column;
    }
    .header_button_container a {
        text-align: center;
        padding: 1.2rem 2rem;
    }
}