:root {
  --foreground: #2b2b2b;
  --background:#bec9d6;
  --dark: #152f52;
  --dark-alt: #3a3c3e;
  --highlight: #2682fc;
  --highlight-shadow: #1244855b;
  --highlight-fade: #4179e2f8;
  --font: #e0fbfc;
  --max-width: 1920px;
  --min-height: calc(100vh - 128px);
  --card-shadow: .5rem .5rem .5rem #0000004f;
  --portrait-background: #5e77a5b9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030b18;
    --foreground: #f3f3f3;
  --dark: #0b2f61;
  --highlight: #3587f3;
  --highlight-shadow: #2682fc;
  --highlight-fade: #254277f8;
  --portrait-background: #6f97eed0;
  /* --portrait-background: #4c77ee; */
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  max-width: var(--max-width);
  margin: auto;
  min-height: var(--min-height);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
